<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
   </head>
<body>
    {{>navbar}}
<div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>UserName</h1>
                        <p class="">It is a long established fact that a reader will be display the 
                            content of the page when looking ai its layout</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            <div class="col-md-4">
                 <div class="about-text border-right">
                        <h1>Passwor</h1>
                        <p class="">It is a long established fact that a reader will be display the 
                            content of the page when looking ai its layout</p>
                        <button class="btn btn-primary">More</button>
                    </div>
            </div>  
            <div class="col-md-4">
                 <div class="about-text border-right">
                        <h1>{%email%}</h1>
                        <p class="">It is a long established fact that a reader will be display the 
                            content of the page when looking ai its layout</p>
                        <button class="btn btn-primary">More</button>
                    </div>
            </div>  

            </div>
        </div>
    </section>
    
</body>
</html>